@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

img {
  pointer-events: none;
}

* {
  user-select: none;
  scroll-behavior: smooth;
}

* {
  @apply transition-all duration-300;
}

main {
  @apply flex items-center justify-center;
}

p {
  @apply text-white;
}


.glass-morphism {
  background: rgba(0, 0, 0, 0.02);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.3 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.centered-container {
  @apply p-6 md:p-8 rounded-2xl min-h-20 max-w-screen-lg border border-white border-opacity-50 
}

.flex-row-col {
  @apply flex flex-col md:flex-row
}